/* line 18, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
body {
  background-color: #f0f0f0 !important;
  font-size: 12px;
}

/* line 23, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.brand, .brand-spacer {
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 3.5em;
  line-height: 100px;
  position: absolute;
  border-right: 1px solid #891414;
  border-bottom: 1px solid #891414;
}

/* line 35, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.brand-spacer {
  background-color: inherit;
}

/* line 41, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#nav-bar-container .container-fluid {
  padding: 0px !important;
}

/* line 47, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .navbar-nav {
  height: 100px;
  z-index: 1000;
}
/* line 52, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .navbar-nav:hover {
  cursor: pointer;
  border-right: 1px solid #891414 !important;
}
/* line 57, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .navbar-nav:hover .menu-tab {
  cursor: pointer;
  display: inline;
}
/* line 62, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .menu-tab {
  display: none;
  background-color: #f0f0f0 !important;
  padding: 24.5px;
  border-bottom: 1px solid #891414;
}
/* line 70, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .return-top {
  height: 100%;
  background-color: transparent;
}
/* line 75, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .menu-tab > a {
  color: #333 !important;
  -webkit-transition: color, ease-in 0.5s;
  -moz-transition: color, ease-in 0.5s;
  -o-transition: color, ease-in 0.5s;
  transition: color, ease-in 0.5s;
}
/* line 83, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#dirk .menu-tab > a:hover {
  color: #891414 !important;
  background-color: inherit !important;
}

@media (max-width: 767px) {
  /* line 90, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .navbar-header {
    background-color: #f0f0f0 !important;
  }

  /* line 94, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .brand, .brand-spacer {
    width: 50px !important;
    height: 50px !important;
    font-size: 1.75em !important;
    line-height: 50px !important;
    margin-left: 15px;
    border: 0px !important;
  }

  /* line 103, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .menu-tab {
    border-bottom: 0px !important;
  }

  /* line 107, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .navbar-toggle {
    margin-right: 35px !important;
  }

  /* line 110, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .icon-bar {
    background-color: #333 !important;
  }

  /* line 114, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .brand-spacer {
    display: none !important;
  }

  /* line 118, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .menu-tab {
    display: block !important;
    padding: 0px !important;
    border-bottom: 0px !important;
  }

  /* line 124, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .navbar {
    border-bottom: 1px solid #891414 !important;
  }

  /* line 128, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .navbar-nav {
    margin: 0px !important;
    height: auto !important;
  }

  /* line 133, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .menu-tab > a {
    text-align: center;
  }

  /* line 137, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  #top {
    display: none;
  }

  /* line 141, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
  .top-background-image, .second-background-image, .third-background-image, .fourth-background-image {
    height: 250px !important;
  }
}
/* line 146, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.top-background-image, .second-background-image, .third-background-image, .fourth-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

/* line 153, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.profile-picture {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid #333 !important;
  background-size: cover;
  background-image: url("profile.jpg");
  background-repeat: no-repeat;
}

/* line 165, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.line-separator {
  background-color: #891414 !important;
  width: 50%;
  max-width: 600px;
  height: 1px;
  margin: 5px auto;
}

/* line 173, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.top-background-image, .second-background-image, .third-background-image, .fourth-background-image {
  background-image: url("basketball.jpg");
}

/* line 178, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.second-background-image {
  background-image: url("forest.jpg");
}

/* line 183, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.third-background-image {
  background-image: url("ocean.jpg");
  background-position: 70%;
}

/* line 189, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.fourth-background-image {
  background-image: url("climb-long.jpg");
  background-position: 70%;
}

/* line 195, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.fifth-background {
  width: 100%;
  background-color: white;
  min-height: 200px;
}

/* line 201, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.remaining {
  position: relative;
}

/* line 205, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.push-large {
  padding: 30px 0px;
}

/* line 209, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.push-small {
  padding: 15px 0px;
}

/* line 213, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.text-centered {
  text-align: center;
}

/* line 217, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.secondary-text-color {
  color: #525252 !important;
}

/* line 221, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.link-text-color {
  color: #891414 !important;
}

/*media all*/
/* line 226, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.skew_appended, .skew_prepend {
  background-color: #f0f0f0 !important;
  height: 100px;
  bottom: -51px;
  width: 100%;
  position: absolute;
  left: 0px;
  overflow: hidden;
  -webkit-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  z-index: 1;
}

/* line 242, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.skew_prepend {
  -webkit-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
}

/* line 248, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.class-container {
  background-color: white;
  border: 1px solid white;
  padding: 20px;
}

/* line 254, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.class-container:hover {
  border: 1px solid #891414 !important;
}

/* line 258, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.class-description {
  color: #525252 !important;
}

/* line 262, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.logo {
  display: block;
  position: relative;
  margin: 10px auto;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 272, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#linkedin {
  background-image: url("linkedin.png");
}

/* line 277, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.linkedin-container a {
  display: block;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
}
/* line 284, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.linkedin-container a:hover #linkedin {
  background-image: url("linkedin-highlighted.png");
}

/* line 289, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#resume {
  background-image: url("file.png");
}

/* line 294, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.resume-container a {
  display: block;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
}
/* line 301, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.resume-container a:hover #resume {
  background-image: url("file-highlighted.png");
}

/* line 306, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
.company-logo {
  margin: 10px auto;
  display: block;
  background-size: cover;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
}

/* line 315, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#txu {
  background-image: url();
}

/* line 319, c:/Users/John/SkyDrive/dnewcomb/app/assets/stylesheets/home.scss */
#samsung {
  background-image: url("samsung.jpg");
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

