<div class="team-img-container">
    <h3 class="text-centered">Playoff Paths - Team View</h3>
    <div id="drop-container">
        <select id="drop" data-live-search="true">
            <optgroup label="Western Conference">
                <option>Dallas Mavericks</option>
                <option>Denver Nuggets</option>
                <option>Houston Rockets</option>
                <option>Memphis Grizzlies</option>
                <option>Minnesota Timberwolves</option>
                <option>San Antonio Spurs</option>
                <option>Utah Jazz</option>
            </optgroup>
        </select>
    </div>
    <div id="test-container">
        <img class="zoom" id="zoom_img" src="/assets/Dallas Mavericks.png" data-zoom-image="/assets/Dallas Mavericks.png"/>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $('#drop').selectpicker('refresh');
    //]]>
</script>