<!-- Work Experience Section -->
<div class="push-large"></div>
<div class="container" id="work">
    <h2 class="text-centered">Work Experience</h2>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Carbon Lighthouse</h3>
            <h4 class="secondary-text-color text-centered">Data Scientist</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2014</h4>
            <p>At Carbon Lighthouse (an awesome company that performs energy efficiency projects on large buildings), I was given the opportunity to delve into building energy usage data.  My goal was to help CL ensure that it was delivering true energy savings to its customers.  To accomplish this, I built a Measurement &amp Verification tool in R for the engineering team that made predictions based on multilinear regression models.<br><br>I performed extensive factor analysis and used stepwise Akaike Information Criterion (AIC) regression to find predictive models that minimized complexity while explaining much of the variance of building energy use.  Next, I used bootstrapping on the root mean squared error (RMSE) and R-squared values of the models to ensure autocorrelation in the data did not affect the validity of the models.  I also tested for overfitting of the model by sampling various subsets of training data, predicting onto remaining test data and comparing RMSE values.<br><br>Holistically, the tool was built to be flexible enough for the engineering team to input building specific values (bldg. schedule, weather, building changes, etc.), to build their own models (and test them with the methods from the previous paragraph), and to receive graphical and statistical outputs at the end.  These outputs let the team know whether the building overperformed, underperformed or performed exactly as expected one year after the implementation of an energy efficiency project.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Samsung</h3>
            <h4 class="secondary-text-color text-centered">Business Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2013</h4>
            <p>I spent this summer as the inaugural intern for the Open Innovation Center, a branch of Samsung that aims to work with Silicon Valley start-ups through partnerships, mergers, acquisitions or incorporation into the Samsung Start-up Accelerator.  In addition to meeting with several start-ups, I was tasked with recommending a strategy for Samsung in the mobile messaging app space.  In order to evaluate the mobile messaging app companies rigorously, I collected as much data as I could on approximately 30 such companies.<br><br>The data varied from number of users to years since inception to money raised to other details.  With this categorical and continuous data, I ran Multiple Correspondence Analysis (MCA) to understand what combination of factors were most important, and calculated MCA scores in order to rank the various companies.  After ranking the apps in this manner, I grouped the apps according to their scores and was able to make inferences about each group.<br><br>In the end, I chose to present two recommendations: one from the well established group with tens of millions of users and one from the early stage start-up group that showed promising features and quick user adoption.  The first recommendation was to acquire WhatsApp (Facebook did so about 6 months later) and the second was to acquire MightyText, an app with a sleek interface and solid cross-platform integrability that has continued to show promise.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">TXU Energy</h3>
            <h4 class="secondary-text-color text-centered">Financial & Environmental Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2012</h4>
            <p>My two main summer projects dealt separately with profitability and environmental initiatives for the Texas electricity provider TXU Energy.  In my first project, I built a scenario analysis tool in Excel to gauge the profitability of swapping customers from obsolete electricity plans to current plans.  In the tool, customer retention rate, expected natural gas prices, and expected electricty usage (among other variables) could be modified to reflect various conditions.<br><br>In my second project, I worked to help renew TXU's partnership with SolarCity, a partnership aimed at getting TXU customers to install solar panels.  My role included colloboration on website design and using Survey Monkey on a test group to help determine which wording emphases could most effectively promote the program.  I wrote material emphasizing different motivations, ranging from saving the environment to reducing one's carbon footprint to saving money in the long run.  In the end, the message which resounded with the test group most (i.e. in a statistically significant manner) focused on saving money, whereas the message with the least effect, unsurprisingly, focused on carbon footprints.</p>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>
