// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font: Open Sans !important;
$primary-body-color: #333 !important;
$secondary-body-color: #525252 !important;
$highlight-font-color: #891414 !important;
$highlight-color-non-important: #891414;
$primary-background-color: #f0f0f0 !important;
$base-font-size: 12px;
$large-font-size: 3.5em;
$header-height: 100px;
$brand-size: 100px;
$profile-picture-size: 200px;
$important-z-index: 1000;
$max-separator-width: 600px;

body {
    background-color: $primary-background-color;
    font-size: $base-font-size;
    font-family: $primary-font;
}

@media(min-width: 767px) {
    .top-nav-collapse #dirk {
        .menu-tab {
            display: inline;    
        }

        .brand {
            border-right: 1px solid white;
        }

        .navbar-nav {
            border-right: 1px solid $highlight-color-non-important;  
        }
    }
}

.navbar-collapse {
    border-top: $highlight-font-color;
}

.brand {
    width: $brand-size;
    height: $brand-size;
    background-color: white;
    text-align: center;
    font-size:  $large-font-size;
    line-height: $brand-size;
    position: absolute;
    border-bottom: 1px solid $highlight-color-non-important;
}

.brand-spacer {
    @extend .brand;
    background-color: inherit;
}

#nav-bar-container {
    .container-fluid {
        padding: 0px !important;
    }
}

#dirk {
    .brand {
        border-right: 1px solid $highlight-color-non-important;
    }
    
    .navbar-nav {
        height: $header-height;
        z-index: $important-z-index;
    }
    
    .navbar-nav:hover {
        cursor: pointer;
        border-right: 1px solid $highlight-color-non-important;
    }
    
    .navbar-nav:hover .menu-tab {
        cursor: pointer;
        display: inline;
    }
    
    .menu-tab {
        margin: 0px -1px;
        display: none;
        background-color: $primary-background-color;
        padding: ($header-height - 2)/4;
        border-bottom: 1px solid $highlight-color-non-important;
    }
    
    
    .return-top {
        height: 100%;
        background-color: transparent; 
    }
    
    .menu-tab > a {
        color: $primary-body-color;
        -webkit-transition: color, ease-in 0.5s;
        -moz-transition: color, ease-in 0.5s;
        -o-transition: color, ease-in 0.5s;
        transition: color, ease-in 0.5s;
    }
    
    .menu-tab > a:hover {
        color: $highlight-font-color;
        background-color: inherit !important;
    }
}

@media(max-width: 767px) {
    .navbar-header {
        background-color: $primary-background-color;
    }
    
    .brand {
        width: $brand-size / 2 !important;
        height: $brand-size / 2 !important;
        font-size:  $large-font-size / 2  !important;
        line-height: $brand-size / 2 !important;
        margin-left: 15px;
        border: 0px !important;
    }
    
    .menu-tab {
        border-bottom: 0px !important;
    }
    
    .navbar-toggle {
        margin-right: 40px !important;
    }
    .icon-bar {
        background-color: $primary-body-color;
    }
    
    .brand-spacer {
        display: none !important;
    }
    
    .menu-tab {
        display: block !important;    
        padding: 0px !important;
        border-bottom: 0px !important;
    }
    
    .navbar {
        border-bottom: 1px solid $highlight-font-color;
    }
    
    .navbar-nav {
        margin: 0px !important;
        height: auto !important;
    }
    
    .navbar-nav:hover {
        border-right: 0px !important;
    }
    
    .menu-tab > a {
        text-align: center;
    }
    
    #top {
        display: none;
    }
    
    .top-background-image {
        height: 250px !important;
    }
    
    .push-large {
        padding: 20px 0px !important;
    }
    
    .skew_appended {
        height: 80px;
    }
}

.top-background-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.profile-picture {
    display: block;
    margin: 10px auto;
    width: $profile-picture-size;
    height: $profile-picture-size;
    border-radius: $profile-picture-size / 2;
    border: 1px solid $primary-body-color;
}

.line-separator {
    background-color: $highlight-font-color;
    width: 50%;
    max-width: $max-separator-width;
    height: 1px;
    margin: 5px auto;
}

.top-background-image {
    @extend .top-background-image;
}

.second-background-image {
    @extend .top-background-image;
    opacity: 0.5;
}

.third-background-image {
    @extend .top-background-image;
    background-position: 70%;
    opacity: 0.5;
}

.fourth-background-image {
    @extend .top-background-image;
    background-position: 70%;
    opacity: 0.5;
}

.fifth-background {
    width: 100%;
    background-color: white;
    min-height: 200px;
}

.remaining {
    position: relative;
}

.no-margin-top {
    margin-top: 0px !important;
}

.push-large {
    padding: 30px 0px;
}

.push-small {
    padding: 15px 0px;
}

.text-centered {
    text-align: center;
}

.secondary-text-color {
    color: $secondary-body-color;
}

.link-text-color {
    color: $highlight-font-color;
}

/*media all*/
.skew_appended {
    background-color: $primary-background-color;
    height: 100px;
    bottom: -51px;
    width: 100%;
    position: absolute;
    left: 0px;
    overflow: hidden;
    -webkit-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    -webkit-backface-visibility: hidden !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 1;
}

.skew_prepend {
    @extend .skew_appended;
    -webkit-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
}

.class-container {
    background-color: white;
    border: 1px solid white;
    padding: 20px;
}

.class-container:hover {
    border: 1px solid $highlight-font-color;
}

.class-description {
    color: $secondary-body-color;
}

.logo {
    display: block;
    position: relative;
    margin: 10px auto;
    width: 64px;
    height: 64px;
}

#linkedin {
    display: inherit;
}

#l-secondary-color {
    display: none;
}

.linkedin-container {
    a {
        display: block;
        background-color: transparent !important;
        width: 100%;
        height: 100%;
    }
    
    a:hover #linkedin {
        display: none;
    }
    a:hover #l-secondary-color {
        display: inherit;
    }
}

#resume {
    display: inherit;
}

#r-secondary-color {
    display: none;
}

.resume-container {
    a {
        display: block;
        background-color: transparent !important;
        width: 100%;
        height: 100%;
    }
    
    a:hover #resume {
        display: none;
    }
    
    a:hover #r-secondary-color {
        display: inherit;
    }
}

.company-logo {
    margin: 10px auto;
    display: block;
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
}

#txu {
    background-image: url();
}

#samsung {
    background-image: url("samsung.jpg");
}

a {
    outline: inherit !important;
}

.zoom {
    width: 500px;
    height: 500px;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
}

@media(max-width: 550px) {
    .zoom {
        width: 250px;
        height: 250px;    
    }
}

#drop-container {
    width: 220px;
    margin: 10px auto;
}

.team-img-container {
    color: $highlight-color-non-important;
    background-color: white;
    padding: 15px;
}