<li class="brand-spacer">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-target">
</li>

<li class="menu-tab">
	<a href="#about" class="active-a page-scroll">
		About Me
	</a>
</li>

<li class="menu-tab">
	<a href="#coursework" class="active-a page-scroll">
		Coursework
	</a>
</li>

<li class="menu-tab">
	<a href="#work" class="active-a page-scroll">
		Work Experience
	</a>
</li>

<li class="menu-tab">
	<a href="#projects" class="active-a page-scroll">
		Projects
	</a>
</li>

<li class="menu-tab-last">
	<a href="#contact" class="active-a page-scroll">
		Contact
	</a>
</li>